@model BlackDragon.TimeSheets.Mvc.Models.SearchProfileModel
@{
    ViewBag.Title = "Search";
}
<h2>
    Search</h2>
@{using (Html.BeginForm())
  {
    @Html.EditorFor(x => x.Query);
  }
}
<table id="user-index">
    @foreach (var result in Model.Results)
    {
        <tr>
            <td>
                @Html.ActionLink(result.FullName, "View",
                    "Profile", new { userName = result.UserName }, null)
            </td>
        </tr>
    }
</table>
<br />
@if (Model.Results.Any())
{
    <p>
        Page @Model.CurrentPage
        of @Model.TotalPages</p>
}
else if (Model.IsSearched)
{
    <p>
        No Result Found
    </p>
}
@using (Html.BeginForm("Paging", "Profile", new { currentFilter = Model.Query, pageSize = Model.PageSize }))
{
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        @if (Model.CanGoPrevious)
        {
            <button type="submit" name="currentPage" value="1" title="First">
                First</button>
            <button type="submit" name="currentPage" value="@(Model.CurrentPage - 1)" title="Previous">
                Previous</button>
        }
        else if (Model.IsSearched && Model.Results.Any())
        {
            <button disabled="disabled">First</button>
            <button disabled="disabled">Previous</button>
        }

        @if (Model.CanGoNext)
        {
            <button type="submit" name="currentPage" value="@(Model.CurrentPage + 1)" title="Next">
                Next</button>
            <button type="submit" name="currentPage" value="Model.TotalPages" title="Last">
                Last</button>
        }
        else if (Model.IsSearched && Model.Results.Any())
        {
            <button disabled="disabled">Next</button>
            <button disabled="disabled">Last</button>
        }
    </fieldset>    
}