@model BlackDragon.TimeSheets.Shared.CircleFullDto
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnJoin").click(function () {
            $.post('@Url.Action("Join", "Circle", new { id = Model.ID })', function (result) {
                $('#results').html(result);
            });

            $("#btnJoin").hide();
        });

        $("#btnGrant").click(function () {
            $.post('@Url.Action("Grant", "Circle", new { id = Model.ID, userName = "tokenXYZ" })'.replace("tokenXYZ", $("#btnGrant").val()), function (result) {
                $('#results').html(result);
            });

            $("#btnGrant").hide();
        });
    });
</script>
<fieldset>
    <legend>CircleModel</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-field">
        Owner: @Html.DisplayFor(model => model.Owner.FullName)
    </div>
</fieldset>
@if (Model.Members.Count > 0)
{
    <table>
        @foreach (var member in Model.Members)
        {
            <tr>
                <td>
                    @member.FullName
                </td>
            </tr>
        }
    </table>
}
@if (Model.Documents.Count > 0)
{
    <table>
        <tr>
            <th>
                Document Name
            </th>
            <th>
                Size
            </th>
        </tr>
        @foreach (var doc in Model.Documents)
        {
            <tr>
                <td>
                    @doc.Name
                </td>
                <td>
                    @doc.Size
                </td>
            </tr>
        }
    </table>
}
@if (Model.CanJoin)
{
    <input id="btnJoin" type="submit" value="Join" />
}
@if (Model.IsRequested)
{
    <input type="submit" value="Join" disabled="disabled" />
}
@if (Model.IsOwner)
{
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
            </th>
        </tr>
        @foreach (var req in Model.Requestors)
        {
            <tr>
                <td>
                    @req.FullName
                </td>
                <td>
                    <input id="btnGrant" type="submit" name="userName" 
                    value="@req.UserName" title="Grant" />
                </td>
            </tr>
        }
    </table>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
